/SherlockAndTheBeast/nbproject/private/
/TimeSolution/nbproject/private/
/AngryProfessorSolution/nbproject/private/
/UtopianTree/nbproject/private/
/FindSquares/nbproject/private/
/SherlockAndTheSquares/nbproject/private/